.gitignore
.git/
Include/
build/
dist/
Lib/
test/
pyvenv.cfg
Scripts/
__pycache__
save/*pdf
export/*xls
export/*xlsx
responses/*response
tkpost.spec.old
logs/
Untitled.ipynb
db/coronavirus.db
logs/responses.log
